<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script>
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");

        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);

            // toggle the icon
            this.classList.toggle("bi-eye");
        });

        // prevent form submit
        const form = document.querySelector("form");
        form.addEventListener('submit', function (e) {
            e.preventDefault();
        });
</script>
<div class="login-page">
  <div class="form">
      <h1>Вход в систему</h1>
    <form action="{{ url_for('login') }}" method="post">
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" required><br>
        <!--<label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br>-->
        <label for="password">Пароль:</label>
        <input type="password" name="password" id="password" />
        <i class="bi bi-eye-slash" id="togglePassword"></i>
        <input type="submit" id="submit" class="submit" value="Войти">
    </form>
      <p class="message">Нет аккаунта? <a href="/register">Зарегистрироваться</a></p>
  </div>
</div>
