<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_register.css') }}">
    <title>Регистрация | НейроСказки</title>
  </head>
  <body>
    <div class="login-container">
      <h1>Регистрация</h1>
      <form method="POST" action="{{ url_for('register') }}">
        {{ form.hidden_tag() }}
        {{ form.username(placeholder="Username") }}
        {{ form.password(placeholder="Password") }}
        {{ form.confirm_password(placeholder="Confirm password") }}
        <br>
        {{ form.submit() }}
      </form>
      <br>
      <br>
      <a class="login-button" href="{{ url_for('login') }}">Вход</a>
    </div>
  </body>
</html>
